
.variables {
    --font-family: Roboto, 'Helvetica Neue', sans-serif;

    --forecolor: #053064;
    --backcolor: white;

    --nav-forecolor: var(--backcolor);
    --nav-backcolor: var(--forecolor);
    --nav-alt-backcolor: #0A60C8;

/*     --home-image-color: lighten(var(--forecolor), 10%);

    --meteo-table-line-color: lighten(var(--forecolor), 10%);
    --meteo-today-border-color: lighten(teal, 10%);
    --meteo-weekend-header-color: darken(maroon, 10%); */

    --meteo-normal-color: var(--backcolor);
    --meteo-warmer-color: #ffffcc;
    --meteo-much-warmer-color: #ffff66;
    --meteo-hot-color: #ffcc99;
    --meteo-colder-color: #e6f7ff;
    --meteo-much-colder-color: #e6efff;
    --meteo-frost-color: #ccdfff;

    --meteo-temp-min: blue;
    --meteo-temp-max: red;
}

.normal { background-color: white; }
.warmer { background-color: #ffffcc; }
.much_warmer { background-color: #ffff66; }
.hot { background-color: #ffcc99; }
.colder { background-color: #e6f7ff; }
.much_colder { background-color: #e6efff; }
.frost { background-color: #ccdfff; }

.meteodata {
    display: flex;
    flex-wrap: wrap;
}
  
.dailymeteodata {
    border-style: solid;
    border-width: 2px;
    border-color: #0056b3;
    padding: 4px;
}
